.carousel-indicators .active{
    background-color: red;
}

.carousel-indicators li,
.modal-content{
    background-color: rgba(25,25,25,1);
}

.desc_text h6{
    font-size: 1rem;
    text-align: center;
    background: rgba(25,25,25,1);
    border: 1px solid rgba(150,150,150,1.0);
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
}

.desc_text{
    font-size: 0.8rem;
    text-align: center;
    background: rgba(25,25,25,0.8);
    border: 1px solid rgba(150,150,150,1.0);
    color: antiquewhite;
    letter-spacing: 0.1rem;
}

.preview_item:hover {
    transform: scale(1.1);
}

.price_cart,
.tech_details,
.reviews_wrapper {
    border: 1px solid rgba(150,150,150,1.0);
    background: rgba(25,25,25,0.8);
}

.item_price,
.modal-header span {
    font-family: 'MedievalSharp', cursive;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

.vats {
    font-family: 'El Messiri', sans-serif;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
}

.modal-body {
    font-family: 'El Messiri', sans-serif;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.tech_details h6,
.review_title h6,
.modal-header {
    font-family: 'MedievalSharp', cursive;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(150,150,150,1.0);
}

.tech_details_label,
.ratings_reviews h6 {
    font-family: 'MedievalSharp', cursive;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
}

.tech_details_info {
    font-family: 'El Messiri', sans-serif;
    color: antiquewhite;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    text-align: right;
}

.ratings_reviews {
    font-family: 'El Messiri', sans-serif;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    text-align: left;
}

.post_review,
.edit_book,
.delete_book{
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
}
