#nav-bar {
    flex: 1;
    border: none;
}

#order-by-list label,
#order-by-list select{
    font-size: 0.8rem;
}

#nav-filter {
    background-color: transparent;
    border: none;
}

#nav-filter a,
#nav-filter h5 {
    font-family: 'MedievalSharp', cursive; 
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: antiquewhite;
}

#nav-filter h5 {
    font-size: 1rem;
}

#books_catalogue {
    flex: 3;
}

.nav-title span{
    margin-left: 2rem;
}

.nav-content{
    font-size: 0.6rem;
}

.homebooks {
    width: 155px;
    height: auto;
}

.homebooks_text{
    color: antiquewhite;
    background-color: rgba(0,0,0,1);
    font-size: 0.8rem;
}
.homebooks_text a {
    font-size: 0.8rem;
}

.popover-header {
    font-size: 0.8rem;
    text-align: center;
    background: rgba(25,25,25,1);
    border: solid 1px antiquewhite;
}

.popover-header hr {
    border-color: antiquewhite;
}

.popover-body {
    font-size: 0.7rem;
    font-weight: bold;
    background:  rgba(178, 190, 181,1)
}

@media only screen and (max-width: 750px){
    .nav-title span{
        font-size: 0.5rem;
        margin-left: 0.2rem;
    }

    .nav-bar {
        display: inline-block;
    }

    #nav-filter {
        justify-content: center;
    }
}