/* General CSS Settings */
body {
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;
    background-image: url('/static/images/texturedblackbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: 'MedievalSharp', cursive; 
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: antiquewhite;
}

.navbar {
    background-color: transparent;
}

#nav_cart_wrapper{
    border-bottom: 1px solid rgba(150,150,150,1.0);
    background-color: rgba(0,0,0,0.9);
}

#nav_cart a,
#nav_cart button{
    font-size: 0.75rem;
    background: rgb(50,50,50);
    color: antiquewhite;
}

#main_logo {
    background-color: rgba(20,20,20,0.9);
}

#navbar_wrapper {
    background-color: rgba(20,20,20,0.9);
    border-bottom: 1px solid rgba(150,150,150,1.0);
}

#navbar ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: antiquewhite;
}

.dropdown-menu {
    background-color: black;
    border: 2px ridge rgba(150,150,150,1.0);
    white-space: normal;
}

.dropdown-item {
    font-size: 0.8rem;
}

#footer_wrapper, #footer_container{
    height: auto;
    width: auto;
    background-color: rgba(20,20,20,0.9); 
    bottom: 0;
}

#footer_left{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#social a img{
    height: 50px;
    width: 50px;
}

#footer_address{
    font-size: 0.6rem;
    color: antiquewhite;
    letter-spacing: 0.2rem;
    border-top: solid rgba(150,150,150,1.0) 2px;
    border-bottom: solid rgba(150,150,150,1.0) 1px;
}

#footer_right{
    flex: 1;
}

#footer_brief{
    color:antiquewhite;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    border-bottom: solid rgba(150,150,150,1.0) 2px;
}

#footer_copyright{
    color:antiquewhite;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

/* font-family: 'El Messiri', sans-serif; */
/* font-family: 'MedievalSharp', cursive; */

@media only screen and (max-width: 768px){
    #main_logo {
        display: none;
        visibility: hidden;
        clear: both;
        position: absolute;
    }


}