{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{%block css%}
<style>
p,
label {
    color: antiquewhite;    
}

.signup_wrapper{
    background: rgba(25,25,25,0.8);
}

.signup{
    width: 100%;
}

.form-group {
    width: 50%;
}
</style>
{%endblock%}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container signup_wrapper d-flex flex-column justify-content-center align-items-center mt-5 p-3">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup d-flex flex-column justify-content-center align-items-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary my-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>
{% endblock %}
