{% extends 'base.template.html' %}
{% load static %}
{% load cloudinary %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{%block title%}{{book.title}} Info{%endblock%}

{%block css%}<link rel="stylesheet" href="{% static '/css/book_info.css' %}">{%endblock%}

{%block js%}{%endblock%}

{%block content%}
<div class="container d-flex justify-content-around align-items-center flex-wrap ">
    <div class="column1 d-flex flex-column justify-content-center align-items-center text-center mt-4 flex-wrap" style="flex: 1;">
        <div class="book_cover">
            {% cloudinary book.cover width=200 height=300 crop="fill" %}
        </div>
        <div class="book_description my-3 d-flex flex-column justify-content-center align-items-center">
            <div id="carouselExampleIndicators" class="carousel slide col-8" data-ride="carousel">
                <ol class="carousel-indicators mt-1 mb-0">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item preview_item active">
                        <div class="d-block w-100 ">{% cloudinary book.preview_1 width=80 height=120 crop="fill" %}</div>
                    </div>
                    <div class="carousel-item preview_item">
                        <div class="d-block w-100 ">{% cloudinary book.preview_2 width=80 height=120 crop="fill" %}</div>
                    </div>
                    <div class="carousel-item preview_item">
                        <div class="d-block w-100 ">{% cloudinary book.preview_3 width=80 height=120 crop="fill" %}</div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="desc_text mt-4">
                <h6>Description</h6>
                <p class="p-2">{{book.description}}</p>
            </div>
        </div>
    </div>
    <div class="column2 d-flex flex-column justify-content-center align-items-center text-center flex-wrap" style="flex: 1;">
        <div class="price_cart d-flex py-3 my-2 col-11">
            <div class="col-6">
                <div class="item_price">USD {{book.price|div:100}}</div>
                <div class="vats">VATS may apply</div>
            </div>
            <div class="col-6">
                <div class="add_to_cart">
                    <a href="{% url 'add_to_cart' book_id=book.id %}" class="btn btn-lg btn-success"><i class="fas fa-shopping-cart"></i>  Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="tech_details d-flex flex-column justify-content-around align-items-center py-3 my-1 col-11">
            <div class="px-2 mb-2 d-flex justify-content-between align-items-center ">
                <h6 class="text-left">TECHNICAL DETAILS</h6>
                {% if user.is_superuser %}
                    <a href="{% url 'edit_book' book_id=book.id %}" class="btn btn-outline-primary btn-sm edit_book ml-5">Edit book</a>
                    <button type="button" class="btn btn-outline-danger btn-sm delete_book ml-1" data-toggle="modal" data-target="#delete_book">Delete Book</button>
                    
                    <!-- Delete Book Modal -->
                    <div class="modal fade" id="delete_book" aria-labelledby="new_review_label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete_book_title">Delete {{book.title}} Product?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                        Are you SURE?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete_book' book_id=book.id %}" class="btn btn-danger">DELETE</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column tech_details_label">
                    Title:<br/>
                    ISBN:<br/>
                    Series:<br/>
                    Release Date:<br/>
                    Genre:<br/>
                    Tags:<br/>
                </div>
                <div class="d-flex flex-column tech_details_info">
                    {{book.title}}<br/>
                    {{book.ISBN}}<br/>
                    {{book.category}}<br/>
                    {{book.release_date}}<br/>
                    {{book.genre}}<br/>
                    {% for tag in book.tags.all %}
                    {{tag}}
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="ratings_reviews mt-4 d-flex flex-column col-11 p-0">
            <div class="d-flex justify-content-between">
                <h6 class="text-left">See what others are say...</h6>
                <button type="button" class="btn btn-outline-info btn-sm post_review" data-toggle="modal" data-target="#new_review">Post Review</button>

                <!--New Review Post Modal-->
                <div class="modal fade" id="new_review" aria-labelledby="new_review_label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new_review_label">Post a New Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{review_form|crispy}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Post New Review">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews_wrapper mt-2 overflow-auto" style="height:300px;">
                {% for review in reviews %}
                <div>   
                    <div class="review_title d-flex justify-content-between px-2 pt-2">
                        <div>
                            <h6>{{review.user}}</h6>
                        </div>
                        <div class="d-flex">
                            <h6 class="mr-3">{{review.date}}</h6>
                            <a href="{% url 'remove_comment' username=review.user book_id=book.id %}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="review_content d-flex justify-content-center align-items-center"> 
                        <p class="px-2 pt-1">{{review.content}} --- {{review.rating}} out of 5<p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>



{%endblock%}